
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.container {
    background-color: #BDE4D3;
    border-radius: 15px;
    text-align: center;
    font-family: Ubuntu;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title {
    font-size: 55px;
    margin: 0;
}

.paragraph {
    font-size: 16px;
    margin: 0;
}